#Box_Activites
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 20px;
      
}
@media only screen and (max-width : 650px)
{
    #Box_Activites
    {
        width: auto;
        align-items: center;
        margin: auto;
    }
}

#Titre_Activites
{
    width: auto;
    height: auto;
    margin-left: 5%;
}
@media screen and (min-width: 1401px)
{
    #Titre_Activites
    {
        margin-left: 60px;
    }
}
#Box_Carte_Activites
{
    display: flex;
    width: auto;
    height: auto;
    
}
@media only screen and (max-width : 650px)
{
    #Box_Carte_Activites
    {
    flex-direction: column;
    align-items: center;
    width: auto;
    }
}
@media screen and (min-width: 610px) and (max-width: 1400px)
{
    #Box_Carte_Activites
    {       
        width: 100%;
        height: auto;   
    }
}
@media screen and (min-width: 1401px)
{
    #Box_Carte_Activites
    {       
        width: 100%;
        height: 600px; 
        justify-content: flex-end;  
    }
}
.Carte_Activites
{
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 200px;
    margin-top: 25px;
    border-radius: 20px 20px;
    box-shadow: 1px 1px 0.8em #e9e9e9, -1px -1px 0.8em  #e9e9e9 ;
}
.Image_Activites
{
    width: 100%;
    height: 80%;
}
.Img_Activites
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
}

@media only screen and (max-width: 650px)
{
    .Notation_Activites
    {
        display: flex;
        align-items: center;
        width: 100%;
        height: 20px;
    }
    .Notation_Activites p
    {
        margin-top: 30px;
        margin-left: 15px;
        color: black !important;
    }
}


@media screen and (min-width: 1150px), screen and (min-width: 650px) and (max-width: 1150px)
{
    .Desktop_box
    {
        display: flex;
        flex-direction: column ;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 49%;
        height: auto;
    }
    .Notation_Activites
    {
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%;
    }
    .Notation_Activites p
    {
        margin-left: 15px;
        color: black;
    }
    .Position1
    {   
        width: 300px;
        height: auto;
        justify-content: space-between;
    }
    .Taille1
    {
        height: 400px;
    }

    .Position2
    {
        width: 300px;
        height: auto;
        justify-content: space-between;
    }
    .Taille2
    {
        height: 180px;
    }
    
    .Position3
    {
        width: 300px;
        height: auto;
        justify-content: space-between;
        margin-top: 50px;
    }
    .Taille3
    {
        height: 120px;
    }

    .Position4
    {
        
        width: 300px;
        height: auto;
        justify-content: space-between;
    }
    .Taille4
    {
        height: 400px;
    }

    .Position5
    {
        width: 300px;
        height: auto;
        justify-content: space-between;
    }
    .Taille5
    {
        height: 150px;
    }

    .Position6
    {
        width: 300px;
        height: auto;
        justify-content: space-between;
        margin-top: 50px;
    }
    .Taille6
    {
        height: 145px;
    }

}
@media screen and (min-width: 600px) and (max-width: 1150px)
{
    .Position4
    {
        order: 2;
    }
}

