footer
{
    background-color: #f2f2f2b2;
    display: flex;
    width: 100% ;
    height: auto;
    margin-bottom: 30px;
         
}
@media only screen and (max-device-width : 600px), screen and (max-width: 600px)
{
    footer
    {
        flex-direction:column;
        margin-top: 30px;
    }
}
@media screen and (min-device-width: 601px) and (max-device-width: 1150px), screen and (min-width: 601px)
{
    footer
    {
        flex-direction: row;
        margin-top: 25px;
    }
}
.Liste_footer
{
    list-style: none;
    padding-left: 0px;      
}
.Liste_footer li 
{
    margin-bottom: 15px;
}
.Titre_liste
{
    align-content: center;    
}
@media only screen and (max-device-width : 600px), screen and (max-width: 600px)
{
    .Titre_liste
    {
        flex-direction: column;
        margin-left: 40px;
    }
}

@media screen and (min-device-width: 601px) and (max-device-width: 1150px), screen and (min-width: 601px)
{
    .Titre_liste
    {
        flex-direction: row;
        margin-left: 60px;
    }
}
.c1
{
    padding-left: 0;   
}
@media only screen and (max-device-width : 600px), screen and (max-width: 600px)
{
    .c1
    {
        margin-left: 40px;
    }
}
.c2
{
    margin-left: 18%;
}
@media only screen and (max-device-width : 600px), screen and (max-width: 600px)
{
    .c2
    {
        margin-left: 40px;
    }
}
.c3
{
    margin-right: 20%;
    margin-left: 18%;
    width: auto;
}
@media only screen and (max-device-width : 600px), screen and (max-width: 600px)
{
    .c3
    {
        margin-left: 40px;
    }
}
.pied
{
    font-size: 1.2em;
    margin-left: 0px;    
}






@media only screen and (max-device-width : 600px), screen and (max-width: 600px)
{}
@media screen and (min-device-width: 601px) and (max-device-width: 1150px), screen and (min-width: 601px)
{}