body
{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    max-width: 1500px;
    min-width: 380px;
    height: auto;
    margin: auto;
}
a
{
    text-decoration: none;
}
@media only screen and (max-width : 600px)
{

}
@media screen and (min-width: 600px) and (max-width: 1150px)
{

}
@media screen and (min-width: 1150px)
{

}
