body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    max-width: 1500px;
    min-width: 370px;
    height: auto;
    margin: auto;
}

a {
    text-decoration: none;
}


.Titre_Notation {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 7px;
}

.Normal_Notation {
    margin-bottom: 5px;
}


